<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="meme_tab" translate="label" sortOrder="10">
            <label>Meme</label>
        </tab>
        <section id="meme" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Settings</label>
            <tab>meme_tab</tab>
            <resource>Study_Meme::config_meme_limit</resource>
            <group id="settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>API config</label>
                <field id="image_limit" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Number of images</label>
                    <comment>Enter the number of images that will be received from the request.</comment>
                </field>
                <field id="api_key" type="obscure" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Api Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <validate>required-entry</validate>
                </field>
            </group>
        </section>
    </system>
</config>
